.aboutUsConatiner{
    color: white;
    /* padding: 160px 108px 120px 108px; */
    font-family: "Manrope", sans-serif;
}

.aboutHero{
    display: flex;
    justify-content: space-between;
    padding: 160px 108px 120px 108px;
    /* margin-bottom: 120px; */
}

.aboutMe{
    width: 35%;
}

.allAboutMe{
    width: 60%;
}

.myBackground{
    font-size: 32px;
    font-weight: 500;
    width: 90%;
    margin-bottom: 16px;
}

.myDeveloperCareer{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 48px;
    color: #C7C7C7;
}

.myAboutPicture{
    width: 100%;
}

.myAboutPicture{
    /* margin-bottom: 120px; */
    padding: 0 108px;
}

.myCapabilitiesContainer{
    display: flex;
    justify-content: space-between;
    padding: 80px 108px;
}

.headingConatiner{
    width: 45%;
}

.capabilitiesSectionContainer{
    width: 45%;
    
}

.capabilitiesSection{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.capability{
    /* margin-bottom: 32px; */
}

.experienceContainer{
    border-top: 1px solid #484848;
    border-bottom: 1px solid #484848;
    /* padding: 80px 0 ; */
    margin-bottom: 40px;
}

.myJob > div + div{
    margin-top: 80px;
}

@media screen and (max-width: 1156px){
    .aboutHero, .myAboutPicture, .myCapabilitiesContainer{
        padding-left: 80px;
        padding-right: 80px;
    }

    .myBackground{
        font-size: 30px;
    }

    .aboutMe, .headingConatiner{
        width: 30%;
    }
    
    .allAboutMe, .capabilitiesSectionContainer{
        width: 60%;
    }
}
@media screen and (max-width: 1000px){
    .aboutHero, .myAboutPicture, .myCapabilitiesContainer{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 940px){
    .aboutHero{
        flex-wrap: wrap;
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .myBackground{
        font-size: 24px;
    }
    
    .aboutMe, .allAboutMe, .headingConatiner, .capabilitiesSectionContainer{
        width: 100%;
    }

    .myCapabilitiesContainer{
        flex-wrap: wrap;
    }
}