.capabilitiesContainer{
    font-family: "Manrope", sans-serif;
}

.capabilities{
    border: 1px solid white;
    padding: 20px 40px;
    border-radius: 100px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 557px) {
    .capabilities{
        padding: 14px 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 382px) {
    .capabilities{
        padding: 12px 18px;
        font-size: 10px;
    }
}