.capabilitiesContainer{
    font-family: "Manrope", sans-serif;
}

.capabilities{
    border: 1px solid white;
    padding: 20px 40px;
    border-radius: 100px;
    text-transform: uppercase;
    text-align: center;
}