.mainContainer{
    display: block;
    font-family: "Manrope", sans-serif;
}

.projectIntro{
    width: 50%;
    /* background-color: blue; */
    color: white;
}

.imageProjectContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.projectImage p{
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #0A0A0A;
    padding: 8px 16px;
    border-radius: 100px;
}

.projectImage{
    width: 48%;
    border-radius: 12px;
}

.projectImg{
    padding: 126px 57px;
    background-color: #1A1A1A;
    width: 100%;
    border-radius: 12px;
}

.projectDescription{
    width: 48%;
    display: flex;
    align-items: center;
}