.header, .main, .footer{
    padding: 26px 100px 40px 100px;
    color: white;
}
/* NAV BAR */

.myName{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    width: 200px;
    font-style: normal;
    font-size: 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.list ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list{
    width: 207px;
    display: flex;
    align-items: center;  
}

.list li{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

.menuIconContainer{
    display: none;
    cursor: pointer;
}

/* HERO SECTION */



/* RESPONSIVE DESIGN */

@media screen and (max-width: 700px){
    .myName{
        font-size: 25px;
    }
}

@media screen and (max-width: 600px){
    .myName{
        font-size: 25px;
    }

    ul li{
        display: none;
    }
    
    .menuIconContainer{
        display: block;
    }
}

@media screen and (max-width: 469px){
    .myName{
        font-size: 23px;
    }  
}

@media screen and (max-width: 369px){
    .myName{
        display: none;
    }
}

