.navBar{
    width: 100%;
    margin: auto;
    padding: 24px 60px;
    color: #C7C7C7;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #C7C7C7;
}

.list ul li{
    list-style-type: none;
}

.myName{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    width: 200px;
    font-style: normal;
    font-size: 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.list ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list{
    width: 207px;
    display: flex;
    align-items: center;  
}

.list li, .scrollLink{
    font-family: "Inter", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}

.menuIconContainer{
    display: none;
    cursor: pointer;
}



/* HERO SECTION */

/* MAIN SECTION */
/* .mainContainer{
    padding: 26px 100px 40px 100px;
} */

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1156px){
    .navBar{
        padding: 20px;
    }
}

@media screen and (max-width: 700px){
    .myName{
        font-size: 25px;
    }
}

@media screen and (max-width: 600px){
    /* .myName{
        font-size: 25px;
    } */

    .menuIconContainer{
        display: block;
    }
    .list{
        display: none;
    }

    /* .hamgurgerSidear {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%; 
        max-width: 300px; 
        background-color:rgba(0, 0, 0, 0.8);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        padding: 20px; 
    }
    
    .hamgurgerSidear ul li {
        position: absolute;
        padding-top: 100px;
        color: white;
        text-decoration: none; 
        margin-bottom: 10px; 
    } */
    
    
}

@media screen and (max-width: 469px){
    .myName{
        font-size: 23px;
    }  
}

@media screen and (max-width: 359px){
    .myName{
        display: none;
    }
}